.ripple {
  height: 20px;
  inset-inline-start: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 56px;
  z-index: 10;

  .rippleContainer {
    height: 100%;
    position: relative;
    transform: translateZ(0);
    width: 100%;
  }
}