$spacing-04: 4px; // 0.25em
$spacing-06: 6px; // 0.375em
$spacing-08: 8px; // 0.5em
$spacing-12: 12px; // 0.75em
$spacing-16: 16px; // 1em
$spacing-24: 24px; // 1.5em
$spacing-28: 28px; // 1.75em
$spacing-32: 32px; // 2em
$spacing-40: 40px; // 2.5em
$spacing-42: 42px; // 2.625em
$spacing-56: 56px; // 3.5em
$spacing-64: 64px; // 4em 