/* stylelint-disable no-descending-specificity */
@use "../../Styles/Base.scss";
@use "../../Styles/Font.scss";
@use "../../Styles/ThemeColorDefinitions.scss" as Theme;
@use "../../Styles/Spacing.module.scss";
@use "sass:color";
@use "../../Styles/ZIndex.module.scss" as zindex;

$success: #3ab876;
$warning: #ea8701;
$error: #da3832;

.alertDialog {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  inset-inline-start: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: zindex.get(zindex.$dialog-box, "base");;

  * {
    box-sizing: border-box;
  }

  .overlay {
    background-color: rgb(0 0 0 / 50%);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: zindex.get(zindex.$dialog-box, "children", "overlay");;
    backdrop-filter: blur(2px);
  }

  .component {
    background-color: #ffffff;
    box-shadow: 0 40px 55px -11px rgb(0 0 0 / 12%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 420px;
    z-index: zindex.get(zindex.$dialog-box, "children", "component");;

    .title {
      align-items: center;
      border-start-start-radius: 16px;
      border-start-end-radius: 16px;
      color: rgb(0 0 0 / 90%);
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      height: 56px;
      padding: 16px 20px;
      @include Base.make-dir-style-value(
        background,
        (linear-gradient(90deg, rgb(0 0 0 / 6%) 0%, rgb(0 0 0 / 2%) 100%)),
        (linear-gradient(-90deg, rgb(0 0 0 / 6%) 0%, rgb(0 0 0 / 2%) 100%))
      );

      /* stylelint-disable-next-line selector-class-pattern */
      :global .app-icon-ctr {
        svg {
          height: 24px;
          width: 24px;
        }

        &.success {
          svg {
            fill: $success;
          }
        }

        &.warning {
          svg {
            fill: $warning;
          }
        }

        &.error {
          svg {
            fill: $error;
          }
        }
      }

      .titleText {
        color: rgb(0 0 0 / 90%);
        @include Font.fontSemiboldLarge;
      }
    }

    .actionButtons {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: flex-end;
      padding: 0 Spacing.$spacing-16 Spacing.$spacing-16 Spacing.$spacing-16;

      .actionButton {
        flex: 0 1 auto;
        margin: 0;

        &.positiveText {
          &:global(.success) {
            background: linear-gradient(
                270deg,
                rgb(58 184 118 / 74%) 0%,
                #3ab876 100%
              ),
              #ffffff;

            &::after,
            &:hover::after,
            &:active::after,
            &:focus::after {
              background: linear-gradient(
                  270deg,
                  rgb(58 184 118 / 74%) 0%,
                  #3ab876 100%
                ),
                #ffffff;
            }

            &:focus {
              outline: 1px solid rgb(58 184 118 / 24%);
            }
          }

          &:global(.error) {
            background: linear-gradient(
                270deg,
                rgb(218 56 50 / 74%) 0%,
                #da3832 100%
              ),
              #ffffff;

            &::after,
            &:hover::after,
            &:active::after,
            &:focus::after {
              background: linear-gradient(
                  270deg,
                  rgb(218 56 50 / 74%) 0%,
                  #da3832 100%
                ),
                #ffffff;
            }

            &:focus {
              outline: 1px solid rgb(218 56 50 / 24%);
            }
          }

          &:global(.warning) {
            background: linear-gradient(
                270deg,
                rgb(234 135 1 / 74%) 0%,
                #ea8701 100%
              ),
              #ffffff;

            &::after,
            &:hover::after,
            &:active::after,
            &:focus::after {
              background: linear-gradient(
                  270deg,
                  rgb(234 135 1 / 74%) 0%,
                  #ea8701 100%
                ),
                #ffffff;
            }

            &:focus {
              outline: 1px solid rgb(234 135 1 / 24%);
            }
          }
        }

        &.negativeText {
          &:global(.success) {
            color: $success;

            &:active {
              border-color: $success;
            }

            &:focus {
              border-color: $success;
              outline: 1px solid color.adjust($success, $lightness: 24%);
            }

            &::after {
              background: linear-gradient(
                  0deg,
                  rgb(58 184 118 / 8%),
                  rgb(58 184 118 / 8%)
                ),
                #ffffff;
            }
          }

          &:global(.error) {
            color: $error;

            &:active {
              border-color: $error;
            }

            &:focus {
              border-color: $error;
              outline: 1px solid color.adjust($error, $lightness: 24%);
            }

            &::after {
              background: linear-gradient(
                  0deg,
                  rgb(218 56 50 / 8%),
                  rgb(218 56 50 / 8%)
                ),
                #ffffff;
            }
          }

          &:global(.warning) {
            color: $warning;

            &:active {
              border-color: $warning;
            }

            &:focus {
              border-color: $warning;
              outline: 1px solid color.adjust($warning, $lightness: 24%);
            }

            &::after {
              background: linear-gradient(
                  0deg,
                  rgb(234 135 1 / 8%),
                  rgb(234 135 1 / 8%)
                ),
                #ffffff;
            }
          }
        }
      }

      .loadingButton {
        border: 1px solid rgb(0 0 0 / 6%);
        background-color: rgb(0 0 0 / 12%);
        border-radius: Base.$border-radius-button;
        cursor: not-allowed;
        height: 34px;
        outline: none;
        padding: 0;
        width: 74.05px;
      }
    }
  }

  .body {
    @include Font.fontModerateNormal;

    color: rgb(0 0 0 / 60%);
    line-height: 20px;
    margin-bottom: 24px;
    max-height: 160px;
    overflow: auto;
    padding: 16px 20px 0;

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #bdbdbd;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #757575;
    }

    /* firefox */
    scrollbar-color: #bdbdbd transparent;
    scrollbar-width: thin;
  }
}

.dialogEnter {
  opacity: 0;
}

.dialogEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.dialogEnterDone {
  opacity: 1;
}

.dialogExit {
  opacity: 1;
}

.dialogExitActive {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.dialogExitDone {
  opacity: 0;
}
