@use "../../Styles/Font.scss";

.banner {
  position: relative;

  &.infoBanner {
    width: 100%;
    min-width: 620px;
    background-color: rgb(66 133 246 / 8%);
    border: 1px solid #4285f6;
    border-radius: 9px;
    padding: 16px;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .warningIcon {
      margin-inline-end: 8px;
      fill: #4285f6;
    }

    .contentContainer {
      display: flex;
      flex-direction: row;
      align-self: center;

      &.withClose {
        padding-inline-end: 32px;
      }

      &.withTitle {
        flex-direction: column;
      }

      .titleText {
        @include Font.fontBoldMedium;
      }

      .bodyText {
        @include Font.fontNormal;

        line-height: 20px;
  
        &.withTitle {
          margin-top: 4px;
        }
      }
    }


    .closeIconContainer {
      width: 20px;
      height: 20px;
      position: absolute;
      inset-inline-end: 16px;

      svg {
        fill: rgb(77 77 77 / 100%);
      }
    }
  }
  

  .endToEndBanner {
    width: 100%;
    min-height: 40px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    &.default {
      background: #414141;

      svg {
        width: 20.36px;
        height: 20px;
        fill: #ffffff;
      }

      .bodyText {
        @include Font.fontNormal;

        color: #ffffffff;
      }
    }

    &.warning {
      background: rgb(218 56 50 / 16%);

      svg {
        width: 20.36px;
        height: 20px;
        fill: rgb(0 0 0 / 65%);
      }

      .bodyText {
        @include Font.fontNormal;

        color: #cf6679;
      }
    }
  }
}
